

ul{
    float: left;
    
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 9;
}
ul li{
    color:white;
    margin:10px;
}

.button{
    margin: 10px;
    border-radius: 20px;
    background-color: black;
}

.div{
    border: 1px grey solid;
}

.div image{
    width: 100%;
}

.div h5, .div p{
    margin: 20px;
}

img{
    width: 90%;
}

.star{
    color: yellow;
}

.bar{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.icon{
    float: right;
}

ul{
    list-style-type: none;
}

iframe{
    width: 100%;
}

.new{
    margin-bottom: 20px;
}
